@if (isLoading==false) {
<div class="container p-4">
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="Employee.fname" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="Employee.lname" type="text" class="form-control" />
    </div>
    <button (click)="updateEmployee()" type="submit" class="btn btn-warning">Update</button>
    <button routerLink="/Employee" type="submit" class="btn btn-primary">Back</button>
  </div>
}
@else {
    <h1>...Loading</h1>
}
