@if (isLoading==false) {
<div class="container p-4">
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="Employee.fname" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="Employee.lname" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Mobile No.</label>
      <input [(ngModel)]="Employee.mobileno" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input [(ngModel)]="Employee.email" type="text" class="form-control" />
    </div>
  
    <label >Gender:   </label>
     <label style="margin: 2rem;" >
     
      <input [(ngModel)]="Employee.gender" type="radio" name="Gender" value="Male" >Male
     </label>
     
     <label >
      <input [(ngModel)]="Employee.gender" type="radio" name="Gender" value="Female">Female
     </label><br>


    <!-- <select [(ngModel)]="Employee.gender" class="form-select" aria-label="Default select example">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select> -->
      
    <button style="margin-right: 2rem;" (click)="updateEmployee()" type="submit" class="btn btn-warning">Update</button>
    <button routerLink="/Employee" type="submit" class="btn btn-primary">Back</button>
  </div>
}
@else {
    <h1>...Loading</h1>
}
